:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #48016b;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}


::-webkit-scrollbar{
  width:  .5rem;
}
::-webkit-scrollbar-track{
  background-image: linear-gradient(-180deg, rgba(81, 0, 101, 0.774),rgb(23, 23, 66));
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255, 222, 103);
  border-radius: 1rem;
  /* border:0.3rem solid transparent; */
  background-clip: content-box;
}